body{
background: linear-gradient(fuchsia 0%, aquamarine 100%);
}

.footer{
    position: fixed;
    bottom: 0;
    color: darkseagreen;
    background-color: navy;
    border-radius: 20px;
    width: 50%;
    font-size: 20px;
    left: 25%;
    box-shadow: 2px 2px 27px darkgoldenrod;
}

#footer_name{
    color:firebrick;
    font-size: 27px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive; 
}

.heading{
    font-size: 21px;
    width: 100%;
    box-shadow: 2px 2px 20px darkslateblue;
}

.note{
    font-size: 12px;
    color: darkolivegreen;
}

canvas{
    border-radius: 10px;
    border: solid 5px darkcyan;
    box-shadow: 5px 5px 7px lightslategrey;
}